---
layout: default
---

<strong>Planets</strong>

<nav>
  <ul>
    {% for planet in site.data.planet-types %}
      <li>
        <a href="{{site.baseurl}}/planets/{{planet.folder}}/" class="{% if page.url contains planet.folder %}current{% endif %}">{{planet.title}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<img src="{{site.baseurl}}/img/planets/{{page.image}}" alt="Photo of {{page.title}}">

<dl>
    <dt>Discoverer:</dt><dd>{{page.discoverer}}</dd>
    <dt>Discovered:</dt><dd>{{page.discovered}}</dd>
    <dt>Orbital period:</dt><dd>{{page.orbit}}</dd>
    <dt>Mean radius:</dt><dd>{{page.radius}}</dd>
    <dt>Axial tilt:</dt><dd>{{page.tilt}}</dd>
</dl>

{{content}}
